*
{
  position:relative;
 
}
h1
{
  text-align: center;
  padding: 10px;
  border: 1px solid rgb(25, 0, 255);
  border-radius:1000px;
  color:white;
  background-color: black;
}
table 
{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
  
th, td 
{
    text-align: left;
    padding: 8px;
    border: 1px solid black;
    border-collapse: collapse;
    align-content: center;
}
  
th 
{
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) 
{
  background-color: #eeeeee;
}
  
tr:hover 
{
  background-color: #00c2fd;
}
td:hover
{
  background-color: #f5ff6c;
}